<div class="info-dialog-cp" [class.is-open]="isOpen()">
    <div class="info-dialog-cp-body">
        <div class="mask" #mask (click)="handleDismiss()"></div>
        <div class="info-dialog-cp-body-container" #bodyContainer>
            <div class="title">
                {{ title() }}
                <button class="close-btn" type="button" (click)="handleDismiss()" [attr.aria-label]="'info_dialog_close_aria_label' | translate">
                    <svg-icon name="x" svgSrcPath="assets/icon-images/" />
                </button>
            </div>
            <div class="content">
                <ng-content />
            </div>
        </div>
    </div>
</div>
