<div class="content-4-cp">
    <div class="head">
        <head-cp [title]="title()" />
    </div>
    <div class="filter">
        <button type="button" class="refresh-btn" [title]="refreshLabel()" (click)="refreshAll()">
            <svg-icon name="rotate-ccw" svgSrcPath="assets/icon-images/" />
        </button>
    </div>
    <div class="chart">
        @for (item of dataList(); track item.id) {
            <div class="item">
                <chart-head-cp [title]="item.title" />
                <div class="chart">
                    <define-chart-cp [isAuto]="true" [isAutoResize]="false" [options]="item.options" [showLoading]="!!item.apiStatus.loading" />
                    @if (item.apiStatus.error) {
                        <div class="error">
                            <span>{{ item.apiStatus.error }}</span>
                            <div class="retry-btn" (click)="retryFetch(item.id)">{{ retryLabel() }}</div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
